		.obj
		{
			-webkit-box-shadow: 0px 0px 8px 2px #000000;
       		-moz-box-shadow: 0px 0px 8px 2px #000000;
            box-shadow: 0px 0px 8px 2px #000000;

		}
		.drag
		{
			/*-webkit-box-shadow: 0px 0px 8px 2px #000000;
       		-moz-box-shadow: 0px 0px 8px 2px #000000;
            box-shadow: 0px 0px 8px 2px #000000;*/
		}
		.circle 
		{ 
			width: 50px; 
			height: 50px; 
			background: red; 
			-moz-border-radius: 50px; 
			-webkit-border-radius: 50px; 
			border-radius: 50px; 
			z-index: 21;
		}
		.diamond
		{
			/*width: 0;
			height: 0;
			border: 30px solid transparent;
			border-bottom-color: red; 
			position: relative; 
			top: -30px; 
			width: 100px;
		    height: 100px;
		    margin: 25px;
		    -ms-transform: rotate(-45deg);
		    -webkit-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		    overflow: hidden;
		    */
			
			z-index: 21;

			width: 60px;
			height: 60px; 
			background: red;
			margin: 20px 10px 20px 70px;
			/* Rotate */
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
			/* Rotate Origin */
			-webkit-transform-origin: 0 100%;
			-moz-transform-origin: 0 100%;
			-ms-transform-origin: 0 100%;
			-o-transform-origin: 0 100%;
			transform-origin: 0 100%;
		} 
		/*.diamond:after 
		{ 
			content: ''; 
			position: absolute; 
			left: -30px; 
			top: 30px; 
			width: 0; 
			height: 0; 
			border: 30px 
			solid transparent; 
			border-top-color: red; 
			z-index: 21;
		}*/
		.parallelogram 
		{ 
			width: 70px; 
			height: 50px; 
			z-index: 21;
			-webkit-transform: skew(20deg); 
			-moz-transform: skew(20deg); 
			-o-transform: skew(20deg); 
			background: red; 
		}
		.rectangle 
		{ 
			width: 70px; 
			height: 50px; 
			background: red; 
			z-index: 21;
		}
		#sand_box
		{
			display:inline;
			width:600px;
			height: 700px;
			float: left;
			border: 3px solid black;
		}
		#toolbar
		{
			display:inline;
			width:200px;
			height: auto;
			float: left;
		}